.steps-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--text-color);
}

.step-index {
    width: 50px;
    border: none;
}