#container {
    padding: 8px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 8px;
}

.options {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.options .icon {
    width: 75px;
    height: 75px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.options .navbar__option {
    display: flex;
    flex-direction: column;
}

.navbar__button {
    color: var(--text-color);
    font-size: 16px;
    padding: 8px 8px 8px 0;
    margin: 4px 0;
    border-radius: 8px;
    min-width: 210px;
    cursor: pointer;
}

.navbar__button .option-icon {
    margin: 0 8px;
    font-size: 20px;
}

.navbar__button:hover {
    background-color: var(--button-hover-color);
    color: var(--closure-color);
    font-weight: 600;
}

.navbar__button.active {
    background-color: var(--text-color);
    color: var(--closure-color);
    font-weight: 600;
    transition: fadeIn .6s ease-in;
}

.navbar__footer {
    width: 100%;
    color: var(--text-color);
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.navbar__footer:hover {
    text-decoration: underline;
}

.content-container {
    flex: 1;
    margin: 0 16px;
    position: relative;
    padding: 16px 8px 0;
    display: flex;
    flex-direction: column;
}

.content__header {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
}

.content__title {
    color: var(--text-color);
    font-size: 28px;
    flex: 1;
}

.header__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 0 8px var(--text-color);
    cursor: pointer;
    position: relative;
}

.activity-list {
    position: absolute;
    top: 120%;
    right: -10%;
    display: none;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
    animation: slideDown .25s ease-in-out;
    transform-origin: top right;
    width: max-content;
}

.activity-item {
    font-size: 16px;
    color: var(--text-color);
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.activity__icon {
    font-size: 20px;
    margin-right: 16px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--text-color);
    color: var(--closure-color);
}

.activity-item:hover {
    background-color: var(--text-color);
    color: var(--closure-color);
}

.activity-item:hover .activity__icon {
    background-color: var(--closure-color);
    color: var(--text-color);
}

.header__avatar .activity-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__body {
    flex: 1;
}

.content__body-item {
    display: none;
    width: 100%;
    height: 100%;
}

.content__body-item {
    display: flex;
    flex-direction: column;
}

.data-list {
    display: flex;
    margin-bottom: 16px;
}

.data-item {
    flex: 1;
    margin-right: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.data-item--end {
    margin-right: 0;
}

.data-item__content {
    flex: 1;
}

.data-item__title {
    color: var(--text-data-color);
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
}

.data-item__number {
    color: var(--text-data-color);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4px;
}

.data-item__description {
    color: var(--text-data-color);
    font-size: 14px;
    font-weight: 400;
}

.data-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-data-color);
    font-size: 30px;
}

.data-item__icon i {
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.data__detail {
    width: 100%;
    flex: 1;
    padding: 16px;
    position: relative;
}

.detail__toggle {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.toggle__transform {
    width: 200%;
    height: 100%;
    position: absolute;
    transition: all .6s ease-in;
}

.toggle-item {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn .3 ease-in-out;
}

.detail__chart {
    left: 0;
}

.detail__table {
    left: 100%;
}

.detail__toggle.active .toggle__transform {
    transform: translateX(-100%);
}

.detail__title {
    padding: 0;
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

.detail-container {
    flex: 1;
    width: 100%;
}

#account__chart {
    height: 100%;
}

.chart__name {
    color: var(--text-color);
    text-align: center;
}

.transfer {
    text-align: right;
    color: var(--text-color);
    text-align: right;
    cursor: pointer;
    font-size: 12px;
}

.transfer:hover {
    text-decoration: underline;
}

.detail__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
}

.back-button:hover {
    background-color: var(--button-hover-color);
    color: var(--overlay-color);
    cursor: pointer;
    box-shadow: 0 0 8px var(--text-color);
}

.table__function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.function__title {
    font-size: 18px;
    color: var(--text-color);
    padding: 0;
    margin-right: 8px;
    font-style: italic;
}

.selection {
    background-color: var(--text-color);
    font-size: 16px;
    margin: 0 4px;
    min-width: 120px;
    border-radius: 4px;
}

.table__function .function__sort {
    display: flex;
    align-items: center;
}

.table__function .function__sort .sort__type-container {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.sort__type-container .sort-group {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--text-color);
    margin: 0 8px;
}

.sort-group label {
    margin-left: 4px;
}

.function__lookup {
    display: flex;
    align-items: center;
}

.lookup__search-bar {
    background-color: white;
    padding: 2px 8px;
    min-width: 250px;
    display: flex;
    border-radius: 16px;
}

.lookup__search-bar input {
    background-color: transparent;
    outline: none;
    border: none;
    flex: 1;
    font-size: 14px;
}

.lookup__search-bar .lookup__icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.lookup__search-bar .lookup__icon:hover {
    background-color: #333;
    color: var(--text-color);
    animation: fadeIn .3s ease;
}

.table {
    margin-top: 8px;
    width: 100%;
    color: var(--text-color);
    border-radius: 8px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 2px 4px;
    padding: 0;
    animation: fadeIn .3s ease-in-out;
}

.table tr {
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.table th {
    font-size: 16px;
    background-color: var(--text-color);
    color: var(--closure-color);
    cursor: default;
}

.table .th__first {
    border-radius: 8px 0 0 0;
}

.table .th__last {
    border-radius: 0 8px 0 0;
}

.table td {
    font-size: 13px;
    overflow: auto;
    vertical-align: middle;
    height: 30px;
    padding-left: 4px;
}

.table td.center {
    text-align: center;
    font-weight: bold;
}

.table td.contain-percent {
    padding: 2px;
}

.table td.contain-percent .percent {
    height: 100%;
    border-radius: 4px;
    background-color: #FF9AA2;
    color: var(--closure-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    animation: fillLeft .6s ease-in-out;
    transition: width .6s ease;
    overflow: hidden;
}

.table tr:hover {
    background-color: var(--overlay-color);
    box-shadow: 0 0 4px white;
}

.detail__pages {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
}

.page:hover {
    box-shadow: 0 0 8px var(--text-color);
}

.page.active {
    color: var(--closure-color);
    background-color: var(--text-color);
    box-shadow: 0 0 8px var(--text-color);
}